<h2>Create Team</h2>
<%= form_for :team, url: teams_path do |f| %>
  <% if @errors %>
    <%= render 'layouts/errors' %>
  <% end %>

  <%= f.hidden_field :captain_id, value: current_user.id %>
  <%= f.label :name, "Team Name:" %><br>
  <%= f.text_field :name %>
  <%= f.submit "Create" %>

<% end %>