<h2>User Login</h2>
<%= form_for(:session, url: "/sessions") do |f| %>
  <% if @errors %>
    <%= render 'layouts/errors' %>
  <% end %>

  <%= f.label "Username:" %>
  <%= f.text_field :username %><br>

  <%= f.label "Password:" %>
  <%= f.password_field :password %><br>
  
  <%= f.submit "Log In" %>
<% end %>