<p>
<%= heat.entry_date.strftime("%-m/%-d/%y") %>  <%= heat.count %> push-ups (<%= heat.raw_count() %> <%= heat.pushup_type %>) 
<% if heat.user == current_user %>
  <%= link_to "Del.", heat_path(heat.user, heat), method: "delete", data: {confirm: "are you sure you want to delete this heat?"} %>
<% end %>
</p>