<h2><%= @user.username %>'s profile page</h2>
<h3>Weigh-In History</h3>
<ul>
  <% @user.entries.each do |entry| %>
    <li><%= render entry %></li>
  <% end %>
</ul>

<p>Enter Today's Weight:</p>
<%= form_for @entry, url: entries_path do |f| %>
  <%= f.text_field :weight %>
  <%= f.submit "Submit" %>
<% end %>
