<h2><%= @user.username %>'s Profile Page</h2>
<h3>Stats:</h3>
<% if @user.entries.count > 0 %>
  <% entries = @user.entries.order(entry_date: :desc) %>
  <ul class="stats-list">
    <li>Starting Weight: <%= entries.last.weight %> lbs. on <%= entries.last.entry_date.strftime("%-m/%-d/%y") %></li>
    <li>Current Averaged Weight: <%= entries.first.average_weight %> lbs. on <%= entries.first.entry_date.strftime("%-m/%-d/%y") %></li>
    <li>Last Month Change: <%= @user.change_over_period(4) %> lbs. (<%= @user.weekly_change(4) %> lbs./week)</li>
    <li>All-Time Change: <%= @user.change_over_period %> lbs. (<%= @user.weekly_change %> lbs./week)</li>
  </ul>
<% else %>
  <p>Start logging your weight to see statistics!</p>
<% end %>

<div class="chart-selection-buttons">
  <%= button_tag "Weight", id: "weight-button", class: "chart-button" %>
  <%= button_tag "Push-Ups", id: "pushups-button", class: "chart-button" %>
  <%= button_tag "Power Level", id: "power-levels-button", class: "chart-button" %>
</div>

<div class="chart-container">
  <%= line_chart @user.weight_lines.map { |name, data|
    { name: name, data: data }
  }, min: nil, max: nil %>
</div>

<div class="chart-buttons">
  <%= button_tag "Past Month", id: "1-month-button", class: "chart-button" %>
  <%= button_tag "3 Months", id: "3-month-button", class: "chart-button" %>
  <%= button_tag "6 Months", id: "6-month-button", class: "chart-button" %>
  <%= button_tag "All Time", id: "all-time-button", class: "chart-button" %>
</div>

<div class="weights-container">
  <h3>Weigh-In History</h3>
  <ul>
    <% @user.entries.order(entry_date: :desc).each do |entry| %>
      <li><%= render entry %></li>
    <% end %>
  </ul>
  <% if @user == current_user %>
    <p>Enter Today's Weight:</p>
    <%= form_for :entry, url: entries_path do |f| %>
      <% if @errors %>
        <%= render 'layouts/errors' %>
      <% end %>
      
      <%= f.text_field :weight %> lbs. 
      <%= f.date_field :entry_date, value: Date.today %>
      <%= f.submit "Submit" %>
    <% end %>
  <% end %>
</div>

<div class="heats-container">
  <h3>Push-Up Heat History</h3>
  <ul>
    <% @user.heats.order(entry_date: :desc).each do |heat| %>
      <li><%= render heat %></li>
    <% end %>
  </ul>
  <% if @user == current_user %>
    <p>Enter Today's Heat Results:</p>
    <%= form_for :heat, url: heats_path do |f| %>
      <% if @errors %>
        <%= render 'layouts/errors' %>
      <% end %>
      
      <%= f.text_field :count %> push-ups completed. 
      <%= f.date_field :entry_date, value: Date.today %>
      <%= f.submit "Submit" %>
    <% end %>
  <% end %>
</div>

<div class="power-levels-container">
  <p>power levels container</p>
</div>

<div class="teams-container">
  <h3><%= @user.username %>'s Teams</h3>
  <ul>
    <% @user.teams.each do |team| %>
      <li><%= link_to "#{team.name}", team_path(team)%></li>
    <% end %>
  </ul>

  <% if @user == current_user %>
    <%= link_to "Create New Team", new_team_path %>
  <% end %>
</div>


