<h2><%= @user.username %>'s Profile Page</h2>
<h3>Stats:</h3>
<% entries = @user.entries.order(entry_date: :desc) %>
<ul>
    <li>Starting Weight: <%= entries.last.weight %> lbs. on <%= entries.last.entry_date.strftime("%-m/%-d/%y") %></li>
    <li>Current Averaged Weight: <%= entries.first.average_weight %> lbs. on <%= entries.first.entry_date.strftime("%-m/%-d/%y") %></li>
    <li>Change/Week:</li>

</ul>

<h3>Weigh-In History</h3>
<ul>
  <% @user.entries.order(entry_date: :desc).each do |entry| %>
    <li><%= render entry %></li>
  <% end %>
</ul>

<% if @user == current_user %>
  <p>Enter Today's Weight:</p>
  <%= form_for :entry, url: entries_path do |f| %>
    <% if @errors %>
      <%= render 'layouts/errors' %>
    <% end %>
    
    <%= f.text_field :weight %> lbs. 
    <%= f.date_field :entry_date, value: Date.today %>
    <%= f.submit "Submit" %>
  <% end %>
<% end %>

<h3><%= @user.username %>'s Teams</h3>
<ul>
  <% @user.teams.each do |team| %>
    <li><%= link_to "#{team.name}", team_path(team)%></li>
  <% end %>
</ul>

<% if @user == current_user %>
  <%= link_to "Create New Team", new_team_path %>
<% end %>


