<h2><%= @user.username %>'s Profile Page</h2>
<h3>Stats:</h3>
<% if @user.entries.count > 0 %>
  <% entries = @user.entries.order(entry_date: :desc) %>
  <ul class="stats-list">
    <li>Starting Weight: <%= entries.last.weight %> lbs. on <%= entries.last.entry_date.strftime("%-m/%-d/%y") %></li>
    <li>Current Averaged Weight: <%= entries.first.average_weight %> lbs. on <%= entries.first.entry_date.strftime("%-m/%-d/%y") %></li>
    <li>Last Month Change: <%= @user.change_over_period(4) %> lbs. (<%= @user.weekly_change(4) %> lbs./week)</li>
    <li>All-Time Change: <%= @user.change_over_period %> lbs. (<%= @user.weekly_change %> lbs./week)</li>
  </ul>
<% else %>
  <p>Start logging your weight to see statistics!</p>
<% end %>

<div class="chart-selection-buttons">
  <%= form_tag(user_path(current_user), method: "get") do %>
    <%= button_tag "Weight", id: "weight-button", class: "chart-button" %>
    <%= button_tag "Push-Ups", id: "pushups-button", class: "chart-button" %>
    <%= button_tag "Power Level", id: "power-levels-button", class: "chart-button" %>
  <% end %>
</div>

<div class="chart-container">
  <%= line_chart @user.chart_lines("weight", 1).map { |name, data|
    { name: name, data: data }
  }, min: nil, max: nil %>
</div>

<div class="chart-buttons">
  <%= form_tag(user_path(current_user), method: "get") do %>
    <%= button_tag "Past Month", id: "1-month-button", class: "chart-button" %>
    <%= button_tag "3 Months", id: "3-month-button", class: "chart-button" %>
    <%= button_tag "6 Months", id: "6-month-button", class: "chart-button" %>
    <%= button_tag "All Time", id: "all-time-button", class: "chart-button" %>
  <% end %>
</div>

<p class="entry-disclaimer">(Note: For most accurate average calculations, please make entries in chronological order from oldest to newest)</p>

<% if @errors %>
  <%= render 'layouts/errors' %>
<% end %>

<div class="weights-container">
  <h3>Weigh-In History</h3>
  <p class="entry-disclaimer">(Enter your weight each day to track your progress!)</p>
  <ul>
    <% @user.entries.order(entry_date: :desc).limit(5).each do |entry| %>
      <li><%= render entry %></li>
    <% end %>
  </ul>

  <% if @user.entries.count > 5 %>
    <%= link_to "View All", entries_path(@user) %>
  <% end %>

  <% if @user == current_user %>
    <p>Enter Today's Weight:</p>
    <%= form_for :entry, url: entries_path(@user) do |f| %>
      <%= f.text_field :weight, size: 6 %> lbs.<br>
      <%= f.date_field :entry_date, value: Date.today %>
      <%= f.submit "Submit" %>
    <% end %>
  <% end %>
</div>

<div class="heats-container">
  <h3>Push-Up Heat History</h3>
  <p class="entry-disclaimer">(Complete as many as you can in 30 seconds, knee push-ups count for half!)</p>
  <ul>
    <% @user.heats.order(entry_date: :desc).limit(5).each do |heat| %>
      <li><%= render heat %></li>
    <% end %>
  </ul>

  <% if @user.heats.count > 5 %>
    <%= link_to "View All", heats_path(@user) %>
  <% end %>

  <% if @user == current_user %>
    <p>Enter Today's Heat Results:</p>
    <%= form_for :heat, url: heats_path(@user) do |f| %>      
      <%= f.text_field :count, size: 4 %> <%= f.select "pushup_type", options_for_select([ "knee", "toe" ], "toe") %>  push-ups completed.<br>
      <%= f.date_field :entry_date, value: Date.today %>
      <%= f.submit "Submit" %>
    <% end %>
  <% end %>
</div>

<div class="power-levels-container">
  <h3>Power Levels History</h3>
  <p class="entry-disclaimer">(Calculate your power level over time and watch it grow!)</p>
  <ul>
    <% @user.power_levels.order(entry_date: :desc).limit(5).each do |power_level| %>
      <li><%= render power_level %></li>
    <% end %>
  </ul>

  <% if @user.power_levels.count > 5 %>
    <%= link_to "View All", power_levels_path(@user) %>
  <% end %>

  <% if @user == current_user %>
    <p>Calculate Today's Power Level:</p>
    <%= form_for :power_level, url: power_levels_path(@user) do |f| %>
      <%= f.date_field :entry_date, value: Date.today %>
      <%= f.submit "Submit" %>
    <% end %>
  <% end %>
</div>

<div class="teams-container">
  <h3><%= @user.username %>'s Teams</h3>
  <p class="entry-disclaimer">(Join or create a team and stay motivated with others!)</p>
  <ul>
    <% @user.teams.each do |team| %>
      <li><%= link_to "#{team.name}", team_path(team)%></li>
    <% end %>
  </ul>

  <% if @user == current_user %>
    <%= link_to "Join A Team", teams_path %><br>
    <%= link_to "Create New Team", new_team_path %>
  <% end %>
</div>
