<h2><%= @user.username %>'s profile page</h2>
<h3>Weigh-In History</h3>
<ul>
  <% @user.entries.order(entry_date: :desc).each do |entry| %>
    <li><%= render entry %></li>
  <% end %>
</ul>

<% if @user == current_user %>
  <p>Enter Today's Weight:</p>
  <%= form_for :entry, url: entries_path do |f| %>
    <% if @errors %>
      <%= render 'layouts/errors' %>
    <% end %>
    
    <%= f.text_field :weight %> lbs. 
    <%= f.date_field :entry_date, value: Date.today %>
    <%= f.submit "Submit" %>
  <% end %>
<% end %>

<h3><%= @user.username %>'s Teams</h3>
<ul>
  <% @user.teams.each do |team| %>
    <li><%= link_to "#{team.name}", team_path(team)%></li>
  <% end %>
</ul>

<% if @user == current_user %>
  <%= link_to "Create New Team", new_team_path %>
<% end %>


