<!DOCTYPE html>
<html>
  <head>
    <title>Saiyan Weigh-In</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Nunito|Orbitron|Permanent+Marker" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header id="main-heading">
      <h1 id="main-title">Saiyan Weigh-In</h1>
      <ul id="navigation">
        <li><%= link_to "Home", root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "#{current_user.username}", user_path(current_user) %></li>
          <li><%= link_to "Log Out", sessions_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "Log In", new_session_path %></li>
        <% end %>
      </ul>
    </header>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
